.main {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    padding: 2rem;
}

.container {
    max-width: 1000px;
}

.h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .h1 {
        font-size: 2.3rem;
    }
}

.subh1 {
    font-size: 1.5rem;
}

.clientList {
    font-size: 1.5rem;
    margin: 4rem auto;
    line-height: 1.5
}

.clientList h2 {
    font-size: 1.5rem;
}

.clientList li {
    display: inline;
    text-transform: uppercase;
    opacity: .5;
}

.clientList li:hover {
    opacity: 1;
}

.clientList li:hover::after {
    opacity: 0.5;
}

.clientList li:not(:last-child):after {
    content: ' / ';
}

.clientList sup {
    font-size: 0.7rem;
}

.contactBtn {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5rem;
    color: var(--textColor);
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-top: 2rem;
    padding: 1rem 2rem;
    width: fit-content;
}

.contactBtn:hover {
    border: 1px solid var(--textColor);
}

@media (max-width: 800px) {
    .clientList {
        font-size: 1rem;
    }
}